<!--The content below is only a placeholder and can be replaced.-->

    <table class="tablemax" align="center">
        <tr>
		<td colspan="3" align="center">

    <nav>
      <ul>
        <li>
        	<div >
  				<h1>
    				Bienvenue sur le site des {{ title }} de Marseille!
  				</h1>  
			</div>
		</li>
      </ul>
    </nav>
  
		</td>
        </tr>                           
    </table>
        


    <table align="center" class='table_menu'>
      <tr><td width = 41%>
            
          <app-menu-list>Chargement de la liste...<br></app-menu-list>
  			

    </td></tr>
    </table>
        
        
        
        
    <table align="center" class='table_maps'>
      <tr><td width = 41%>
            <app-maps>Chargement de la carte...<br></app-maps>
          

    </td></tr>
    </table>